/* Variables */
:root {
  --color-main: #f1f5f9;  /* main text*/
  --color-secondary: #d7d7d7; /* secondary text */
  --color-highlight: #38bdf8;   /* links and buttons */
  --color-purple-highlight: #ba67e2; /* highlighted text */
  --color-card: #1e293b; /* card background */
  --color-background: #2d2c38;    /* general background */
  --color-dark-background: #1d1c23;    /* secondary background */
  --color-dark-rgb: 39, 38, 46; /* black RGB */
}

/* global rules*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base */
body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  font-family: 'Segoe UI', system-ui, sans-serif;
  line-height: 1.6;
  color: var(--color-secondary);
  background-color: rgb(var(--color-dark-rgb));
}

/*  Header */
header {
  background-color: var(--color-blanco);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 1rem 2rem;
  background-color: rgb(var(--color-dark-rgb));
  
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  
  position: sticky;
  top: 0;
  z-index: 1000;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile svg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  object-fit: cover; 
}

.profile-pic {
  width: auto;
  height: 200px;
  border-radius: 50%;
  
  object-fit: cover;
}

.leyenda {
  font-size: 0.9rem;
  color: var(--color-secundario);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primario);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: var(--color-secundario);
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--color-primario);
}

main {
  flex: 1;
  width: 100%;
}

section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  background-color: var(--color-dark-background);
  color: #ffffff;

  height: auto;
  width: 100%;
  max-width: 100%; /* ignore the rule max-width of the section */

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-highlighted { 
  font-size: 20px;
  color: var(--color-purple-highlight);
}

.hero-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 3rem;
}

.btn {
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.btn-primario {
  background-color: #7f3aa1;
  color: white;
}

.btn-secundario {
  background-color: transparent;
  border: 2px solid #334155;
  color: white;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  max-width: 100%;
  padding: 0rem;
  
  gap: 2rem;
  font-size: 2.5rem;
  color: #64748b;
}

@media (max-width: 768px) {
  .tech-stack {
    margin-top: 0rem;
    gap: 1rem; 
    
    font-size: 2rem; 
  }
}

.tech-stack i {
  transition: transform 0.3s ease;
}

h1 {
  font-size: 3.5rem;
  color: var(--color-main);
}

h2 {
  text-align: center;
  margin-bottom: 0rem;
  font-size: 2rem;
  color: var(--color-main);
}

/* Grid (Projects Section)*/
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* create columns of min 300px. Auto: left or above*/
    gap: 2rem;
    padding: 2rem 0;
}

.project-card {
    background-color: var(--color-dark-background);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-5px); /* raise the card a bit */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-color: var(--color-purple-highlight);
}

.card-header-icon { /* class for fantastic lib icons*/
    height: 140px;
    background: linear-gradient(135deg, #2d2c38 0%, #1a1920 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: var(--color-purple-highlight);
}

.card-image { /* class for project image header */
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    transition: transform 0.5s ease;
}

.project-card:hover .card-image img {
    transform: scale(1.1); /* the image grows by 10% */
}

.card-body {
    padding: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-body h3 {
    margin-bottom: 0.5rem;
    color: var(--color-main);
    font-size: 1.25rem;
}

.card-body p {
    font-size: 0.95rem;
    color: var(--color-secondary);
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.tags {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.tag {
    background-color: rgba(186, 103, 226, 0.1);
    color: var(--color-purple-highlight);
    padding: 0.25rem 0.75rem;
    border-radius: 50px;
    font-size: 0.75rem;
    font-weight: 600;
    border: 1px solid rgba(186, 103, 226, 0.2);
}

.card-links {
    margin-top: auto;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.btn-link {
    text-decoration: none;
    color: var(--color-secondary);
    transition: color 0.2s;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.btn-link:hover {
    color: var(--color-purple-highlight);
}

/* Contact Section */
.contact-wrapper {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--color-dark-background);
    border-radius: 8px;
    align-items: center;
}

.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contact-info p {
    color: #94a3b8;
    margin-bottom: 2rem;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.contact-socials {
    margin-top: 0rem;
    display: flex;
    gap: 1.5rem;
}

.contact-socials a {
    color: #94a3b8;
    font-size: 1.5rem;
    transition: color 0.3s, transform 0.3s;
}

.contact-socials a:hover {
    color: var(--color-purple-highlight);
    transform: translateY(-3px);
}

.info-item i {
    color: var(--color-purple-highlight);
}

.contact-form {
    flex: 1;
    background-color: #222227;
    padding: 1.5rem;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-main);
    font-weight: 500;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    background-color: #1e1e24;
    border: 2px solid transparent;
    border-radius: 8px;
    color: white;
    font-family: inherit;
    transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus { /* in-click focus effect*/
    outline: none;
    border-color: var(--color-purple-highlight);
    background-color: #25252c;
}

.contact-form button {
    width: 100%;
    justify-content: center;
    cursor: pointer;
    border: none;
}

footer {
  background-color: var(--color-dark-background);
  color: var(--color-main);
  text-align: center;
  padding: 2rem;
  margin-top: 0rem;
}

a {
    color: #b0bdd3;
    text-decoration: none;
    transition: all .2s;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.container-s {
    width: 80%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: nowrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));

    gap: 2rem;
}

.vertical-centering {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}

.div-inline {
    display: flex;
    flex-direction: row;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #b0bdd3 !important;
}

.text-v-centered {
    align-content: center;
}

.text-left-highlighted {
    color: var(--color-purple-highlight) !important;
    text-align: left;
}

.text-highlighted {
    color: var(--color-purple-highlight) !important;
    text-align: center;
}

.black-box {
    background-color: var(--color-dark-background) !important;
    padding: 5rem;
    border-radius: 8px;
    align-items: center;

    padding-bottom: 3rem;
    padding-top: 3rem;

    box-sizing: border-box;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-center {
    justify-content: center !important;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}

.list-inline-item {
    display: inline-block;
}

/* Media Settings */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 1rem;
  }

  .container-s {
      width: 95%;
      padding-left: 1rem;
      padding-right: 1rem;
  }

  .black-box {
    padding: 2rem 1.5rem !important;
    text-align: center;
  }

  #about-me .row {
    display: flex;
    flex-direction: column-reverse; 
    align-items: center;
    gap: 1.5rem;
  }

  .profile-pic {
      height: 150px;
      width: auto;
      margin-bottom: 1rem;
  }

  .text-left-highlighted {
    text-align: center;
    margin-bottom: 1.5rem;
  }
    
  .text-v-centered {
      width: 100%;
      padding: 1rem;
      padding-bottom: 0rem;
  }

  .projects-grid {
        grid-template-columns: 1fr;
        padding: 1rem;
  }

  .contact-wrapper {
      flex-direction: column; /* Apilar uno sobre otro */
      padding: 1.5rem;
      gap: 2rem;
  }
    
  .contact-info {
      text-align: center;
      align-items: center; /* Centrar items */
  }
}